{% extends 'base.html' %}

{% block title %}Login{%endblock title%}

{% block content %}
{% load widget_tweaks %}
  <form method="post">
    {% csrf_token %}
    
    <div class'flex justify-center items-center'>
      <div class='w-1/2 m-4 flex-1 rounded-md bg-white shadow-md p-6 max-w mx-auto'>
        {% for field in form %}
          <div class='mb-4'>
            <label class='block text-gray-700 text-sm font-bold mb-2' for='{{field}}'>{{ field.label }}</label>
            {{ field|add_class:'p-5 shadow-sm appearance-none border-gray-200 border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline ' }}
            {% for error in field.errors %}
              <p class='text-red-500 text-xs italic'>{{ error }}</p>
            {% endfor %}
          </div>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <p class='text-red-500 text-xs italic mb-4'>{{ error }}</p>
        {% endfor %}


        <button class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' type='submit'>Log In</button>
          <div class='text-center mt-4'>
            <p>Don't have an account? <a class='text-blue-500' href="{%url 'signup'%}">Sign Up</a></p>
          </div>
      </div>
    </div>
  </form>

{% endblock %}
