{% extends 'base.html' %}

{% block title %}FitzPrintsGB{% endblock %}

{% block content %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
        {% for product in products %}
        <div id='models' class="w-full">
            <div class="bg-white rounded shadow">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-auto object-cover rounded-t">
                <div class="p-4">
                    <h3 class="text-lg font-bold truncate">{{ product.name }}</h3>
                    <div class="flex justify-between mt-2">
                        <span class="font-semibold truncate-text"><i class="fa-solid fa-weight-scale"></i> {{ product.filament_used }}g</span>
                        <span class="font-semibold truncate-text"><i class="fa-solid fa-clock"></i></i> {{ product.print_time }}hr</span>
                        <span class="font-semibold truncate-text"><i class="fa-solid fa-tag"></i> £{{ product.price }} </span>
                    </div>
                    <a style=' background-color: rgb{{product.colour}}' class=" text-white font-bold py-2 px-4 rounded mt-4 block w-full text-center" href="{% url 'file_detail' name=product.name %}">
                        View Details
                    </a>
                </div>
            </div>
        </div>
        
        {% endfor %}
        <div class="w-full">
            <div id ='upload_box' class="bg-white rounded shadow flex items-center justify-center h-full">
                <a id='upload_button' class="flex items-center justify-center bg-slate-400 text-white rounded-full w-1/2 h-1/2" href='/upload'>
                    <i class="fa-solid fa-plus fa-2xl"></i>
                </a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function(){
        function adjust_height(){
            var height = $('#models').height(); // Get the height of the models
            $('#upload_box').height(height); // Sets the height of the upload box to the height of the models
            var width = $('#upload_button').width(); // Get the width of the upload button to make it round
            $('#upload_button').height(width); 
        }
        function adjust_text(){
            var elements = document.getElementsByClassName('truncate-text')
            var box = document.getElementById('models');
    
            for (var i = 0; i < elements.length; i++) {
                if (box.offsetWidth < 250){
                    elements[i].classList.add('text-xs');
                    elements[i].classList.remove('text-sm');
                    elements[i].classList.remove('text-base');
                    elements[i].classList.remove('text-lg');
                }else if (box.offsetWidth > 250 && box.offsetWidth < 330){
                    elements[i].classList.add('text-sm');
                    elements[i].classList.remove('text-xs');
                    elements[i].classList.remove('text-base');
                    elements[i].classList.remove('text-lg');
                }else if (box.offsetWidth > 330 && box.offsetWidth < 450){
                    elements[i].classList.add('text-base');
                    elements[i].classList.remove('text-sm');
                    elements[i].classList.remove('text-xs');
                    elements[i].classList.remove('text-lg');
                }else{
                    elements[i].classList.add('text-lg');
                    elements[i].classList.remove('text-xs');
                    elements[i].classList.remove('text-base');
                    elements[i].classList.remove('text-sm');
                }
            }
        }

    
        adjust_height(); // To initially set the height.
        adjust_text();
        $(window).resize(adjust_text); // To resize the text whenever the window is resized.
        $(window).resize(adjust_height); // To resize the height whenever the window is resized.
    });
    
    </script>
{% endblock %}
