{% extends 'base.html' %}

{% block title %}Upload{% endblock %}

{% block content %}
{% load widget_tweaks %}

<form action="" method="post" enctype="multipart/form-data" class="space-y-4">
    {% csrf_token %}
    <div class='w-2/3 m-4 flex-1 rounded-md bg-white shadow-md p-6 max-w mx-auto'>
        {% for field in form %}
            <div class="flex flex-col mx-auto p-auto">
                {% if field == form.image %}
                    {{ field|add_class:'hidden' }}
                    <label class="block text-gray-700 text-sm font-bold mb-2 " for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <button id='image_button' type="button" class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold mb-4 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Change</button>
                {% elif field == form.colour or field == form.profit %}
                    
                {% else %}
                    <label class="block text-gray-700 text-sm font-bold mb-2 " for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:' p-5 shadow-sm appearance-none border-gray-200 border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4' }}
                    {% if field.errors %}
                        <ul class="text-red-500 text-xs italic">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
        <input type="submit" value="Upload" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" />
    </div>
    
    
</form>
<script>
    document.getElementById('image_button').onclick = function() {
        document.getElementById('id_image').click();
    };

    image = document.getElementById('id_image');
    image.onchange = function() {
        document.getElementById('image_button').innerHTML = "'" + image.files[0].name + "' selected";
    };
</script>


{% endblock %}


